/* styles.css */

body {
  font-family: Arial, sans-serif;
}

.TodoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.TodoList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TodoList li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.TodoList li.completed {
  background-color: #e0e0e0;
  text-decoration: line-through;
}

.TodoList li input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1.2em;
  flex: 1;
}

.Button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Button:hover {
  background-color: #0069d9;
}

.clear-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.clear-button:hover {
  background-color: #c82333;
}
